/* TIPO DE LETRA */
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

// Cores
$cor_principal: #002e4d;
$cor_secundaria: #1aa3ff;
$cor_tercearia: #999999;
$texto_navbar: rgb(226, 226, 226);
$texto_cor: black;

// Controlo do rodapé para testes
.mid-column {
    height: auto;
    padding: 10px;
    font-family: 'Roboto Slab', serif;
}

.top-info {
    color: $texto_navbar;
    position: relative;
    top: 30px;
    text-align: left;
}

.top-info h3 {
    font-size: 50px;
    text-transform: uppercase;
    opacity: 100%;
    color: $cor_principal;
    font-weight: bold;
    padding-bottom: 1em;
}

.top-info h4 {
    margin-top: 10px;
    font-size: 22px;
    color: $cor_secundaria;
    font-weight: bold;
    padding-bottom: 8px;
}

.informacoes {
    margin-bottom: 1em;
}

.informacoes h3 {
    font-size: 50px;
    text-transform: uppercase;
    opacity: 100%;
    color: $cor_principal;
    font-weight: bold;
    padding-bottom: 1em;
    padding-top: 1em;
}

.informacoes h4 {
    margin-top: 10px;
    font-size: 22px;
    color: $cor_secundaria;
    font-weight: bold;
    padding-bottom: 8px;
}

.informacoes p {
    text-align: justify;
    text-justify: distribute;    
    padding-bottom: 20px;
    font-size: 16px;
    color: $texto_cor;
}

#pdf {
    display:block;
    width: 100%;
    height:500px;
}

.pdf:first-child{
    margin-bottom: 3em;
    padding:2em;
}

#quercus {
    text-decoration: none;
    color: $cor_tercearia;
}

// Configuração do formulário
#titulo_form {
    color: $cor_secundaria;
    font-weight: bold;
    font-size: 22px;
    padding-bottom: 1em;
    padding-top: 1em;
}

.formulario {
    border-radius: 5px;
    padding: 20px;
    border: 1px solid black;
    background-color: lightgrey;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid $cor_principal; 
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
}

#sex {
    width: 100%; 
    padding: 12px; 
    border: 1px solid $cor_principal; 
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px; 
}

input[type=email] {
    width: 100%; 
    padding: 12px; 
    border: 1px solid $cor_principal; 
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
}

input[type=submit] {
    background-color: $cor_principal;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: $cor_secundaria;
    transition: 0.2s;
}

// ESPAÇAMENTO
.espaco {
    height: 2em;
}

// ACERTO DO TAMANHO DA PAGINA "O QUE FAZEMOS"
#tam_pg {
    margin-top: 7em;
    margin-bottom: 7em;
}

@media screen and (max-width: 800px) {
    #tam_pg {
        margin-top: 0;
        margin-bottom: 0;
    }    
}